<div class="container">
    <div class="row">
      <div class="col-8">
        <div class="card">
          <div class="card-header bg-success">Department List</div>
          <div class="card-body">
            <div class="row">
              <div class="col-12">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>Sr No</th>
                      <th>Department Name</th>
                      <th>Department Head Name</th>
                      <th>Created Date</th>
                      <th class="text-center">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of departmentList; let i = index">
                      <td>{{ i + 1 }}</td>
                      <td>{{ item.departmentName | na }}</td>
                      <td>{{ item.deptHeadName | na }}</td>
                      <td>{{ item.createdDate | date: 'dd-MMM-yyyy' }}</td>
                      <td class="text-center">
                        <button class="btn btn-primary" (click)="OnEdit(item)">Edit</button>
                        <button class="btn btn-danger mx-2" (click)="OnDelete(item.deptId)">Delete</button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card">
          <div class="card-header bg-success">New Department</div>
          <div class="card-body">
            <div class="row">
              <div class="col-12">
                <label for="">Department Name</label>
                <input [(ngModel)]="departmentObj.departmentName" type="text" class="form-control" />
              </div>
              <div class="col-12">
                <label for="">Select Department Head</label>
                <mat-form-field appearance="fill" class="w-100">
                  <mat-select multiple [(ngModel)]="departmentObj.deptHeadEmpIds">
                    <mat-option *ngFor="let emp of employee$ | async" [value]="emp.employeeId">
                      {{ emp.employeeName }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="row pt-3">
              <div class="col-12 text-center">
                <button class="btn btn-primary mx-2" *ngIf="departmentObj.deptId !== 0" (click)="OnUpdate()">Update</button>
                <button class="btn btn-success mx-2" *ngIf="departmentObj.deptId === 0" (click)="OnSave()">Save</button>
                <button class="btn btn-secondary mx-2" (click)="OnRest()">Reset</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  