<div class="container">
    <div class="row">

    <div class="col-8">
        <div class="card">
            <div class="card-header bg-success">
                Department List
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Sr No</th>
                                    <th>Department Name</th>
                                    <th>Department Head Name</th>

                                    <th>Created Date</th>
                                    <th class="text-center">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (item of departmentList; track $index) {
                                    <tr>
                                        <td>{{$index+1}}</td>
                                        <td>{{item.deptName | na}}</td>
                                        <td>{{item.deptHeadName | na}}</td>

                                        <td>{{item.createdDate| date:'dd-MMM-yyyy' }}</td>
                                        <td class="text-center">
                                            <button class="btn btn-primary">Edit</button>
                                            <button class="btn btn-danger mx-2" >Delete</button>
                                        </td>
                                    </tr>
                                } 
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-header bg-success">
                New Department 
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <label for="">Department Name</label>
                        <input [(ngModel)]="departmentObj.deptHeadName" type="text" class="form-control"/>
                    </div>
                    <div class="col-12">
                        <label for="">select Department  head</label>
                       <select class="form-select" [(ngModel)]="departmentObj.deptHeadEmpId" >

                        @for ( emp of employee$|async; track $index) {
                            <option [value]="emp.employeeId">{{ emp.employeeName}}</option>
                        }

                       </select>
                    </div>
                  
                </div>
                <div class="row pt-3">
                    <div class="col-6 text-center">
                        <button class="btn btn-secondary">Reset</button>
                    </div>
                    <div class="col-6 text-center">
                        <button class="btn btn-success" (click)="OnSave()">Save</button>

                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</div></div>